.card{
    margin-top: 10pc;
    width: 90%;
    border-radius: 20px;
}
.card-img-top{
    max-width: 25%;
    margin: auto;
}
.opcoes{
    text-align: center;
}
.btn-success{
    border-radius: 30px;
    height: 60px;
}
.btn-danger{
    border-radius: 30px;
    height: 60px;
}
.h4{
    text-align: center;
}