<style>
  .flex {
    display: flex;
    margin-top: 2rem;
  }

  .box-container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .box {
    height: 190px;
    display: flex;
    flex-direction: row;
    width: 95%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    transition: 0.2s;
    border: solid 1px #efefef;
    position: relative;
    margin-bottom: 20px;
  }

  .info {
    padding-left: 20px;
  }

  .info h3 {
    color: #585858;
    font-weight: 700;
    font-size: 1.40rem;
  }

  .info p {
    color: #a7a7a7;
  }

  .box:hover {
    cursor: pointer;
    transform: scale(1.020);
    box-shadow: 0px 10px 13px 0px #0000002e;
  }

  .avatar-img {
    width: 130px;
    height: 130px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .avatar-img img {
    max-width: 100%;
  }

  .dropdown {
    position: absolute;
    right: 30px;
  }
  .dropdown-item{
    color: #6d6d6d;
  }
</style>

<div class="flex">

  <div class="box-container">

    <div class="box" *ngFor="let item of itens" (click)="enterCourse(item)">
      <div class="avatar-img">
        <img [src]="item.image" alt="imagem-curso">
      </div>
      <div class="info">
        <h3>{{item.title}}</h3>
        <p>{{item.questions}} Questionários</p>
      </div>
      <div class="dropdown dropleft">
        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>
          <a class="dropdown-item" href="#"><i class="fa fa-eraser" aria-hidden="true"></i> Renomear</a>
          <a class="dropdown-item" routerLink="/ranking"><i class="fa fa-users" aria-hidden="true"></i> Ranking</a>
          <a class="dropdown-item" href="#"><i class="fa fa-trash" aria-hidden="true"></i> Excluir</a>
        </div>
      </div>
    </div>

  </div>

</div>
