<nav class="navbar navbar-dark bg-dark" style="width: 100%;">
	<a class="navbar-brand" style="color: white ;"> Kahoot</a>
</nav>
<div class="card-group">
	<div class="card" style="height: 25pc;margin: inherit;background-color:white;border-radius: 15%;max-width: 350px;min-width: 350px;">
    <img src="https://cdn.icon-icons.com/icons2/35/PNG/512/teacher_man_avatar_person_2836.png" style="max-width: 25%;margin: auto;">
		<div class="card-body" >
      <div class="card-body">
        <h5 class="card-title">José Humberto Nunes Ferreira Jr</h5>
        <p class="card-text">Instituição: Unifacisa</p>
        <p class="card-text">Idade: 20 anos</p>
        <a href="#" class="btn btn-primary">Alterar dados</a>
      </div>
		</div>
	</div>
	<div>
		<div class="card-body">
      <table class="table" style="background-color: white;height: 40pc;max-width: 50%;border-radius: 10%">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome do curso</th>
            <th scope="col">Código</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">
              <button type="button" class="btn btn-success">Criar</button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Geografia do Brasil</td>
            <td>4324234</td>
            <td>
              <button type="button" class="btn btn-primary">Alterar</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger">Excluir</button>
            </td>
            <td>
              <button type="button" class="btn btn-warning">Ranking</button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>História da Paraiba</td>
            <td>324324</td>
            <td>
              <button type="button" class="btn btn-primary">Alterar</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger">Excluir</button>
            </td>
            <td>
              <button type="button" class="btn btn-warning">Ranking</button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Informática</td>
            <td>32331</td>
            <td>
              <button type="button" class="btn btn-primary">Alterar</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger">Excluir</button>
            </td>
            <td>
              <button type="button" class="btn btn-warning">Ranking</button>
            </td>
          </tr>
        </tbody>
      </table>
		</div>
	</div>
</div>
