<div class="criar-curso">
  <h5 class="text-primary"><a routerLink="/painel-gestor"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;Criar Curso</h5>
  <h5 class="text-left">Nome do Curso:</h5>
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
  <div class="questoes">
    <h6>1-Quais os tipos de forma que garante a separação por camada na aplicação
      <a href="#"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
	  <a href="#"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a></h6>
	<h6>2-Quais são os tipos de dados
	<a href="#"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
	<a href="#"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a></h6>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Adicionar Nova Questão</button>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <a href="#"><img src="https://icon-icons.com/icons2/1320/PNG/48/-gallery_86860.png"></a>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6>Título</h6>
          <input type="text" class="form-control" placeholder="Nome" aria-label="Username" aria-describedby="addon-wrapping">
          <h6>Conteúdo</h6>
          <textarea class="textarea" id="exampleFormControlTextarea1" rows="3"></textarea>
          <h6>Resposta</h6>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" aria-label="Radio button for following text input">
              </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with radio button">
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" aria-label="Radio button for following text input">
              </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with radio button">
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" aria-label="Radio button for following text input">
              </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with radio button">
          </div>
        </div>
        <div class="btn-group" style="width: 50%;">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Nível
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Difícil</a>
            <a class="dropdown-item" href="#">Avançado</a>
            <a class="dropdown-item" href="#">Médio</a>
            <a class="dropdown-item" href="#">Fácil</a>
          </div>
          <button type="button" class="btn btn-primary"  data-dismiss="modal">Adicionar Questão</button>
        </div>
      </div>
	</div>
</div>