<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <div class="fadeIn first">
      <img
        src="https://icon-icons.com/icons2/933/PNG/256/round-account-button-with-user-inside_icon-icons.com_72596.png"
        id="icon" alt="User Icon" />
    </div>

    <form>
      <input type="text" id="login" class="fadeIn second input-login" placeholder="Email">
      <input type="password" id="password" class="fadeIn third input-login" placeholder="Senha">
      <input type="submit" class="fadeIn fourth" (click)="login()">
    </form>

    <div id="formFooter">
      <a class="underlineHover" href="#">Esqueceu sua senha?</a>
    </div>

  </div>
</div>