
.table {
  margin: auto;
  color: #212529;
  margin-top: 5pc;
  width: 100%;
}
.ranking{
  background-color: white;
  border-radius: 15px;
  width: 80%;
  margin-top: 10pc;
}
 
.text{
  color:#4633FF !important;
}
.titles{
  margin-left: 5%;
  margin-top: 5pc;
}
