<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h5 class="font-weight-normal" href="#">Cursos</h5>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filtro</button>
      <button type="button" class="btn btn-primary">Criar</button>
    </form>
  </div>
  <img src="https://img.r7.com/images/lance-22012019063505785?dimensions=660x360" style="width: 60px;"  class="rounded-circle">
</nav>
<div>
  <div class="container-fluid"style="background-color:#563d7c;">
    <img style="width: auto;" src="https://icon-icons.com/icons2/508/PNG/32/home_house_icon-icons.com_49851.png">
  </div>
  <div class="opcoes">
    <h5 class="font-weight-normal"><img src="https://icon-icons.com/icons2/1369/PNG/32/-dashboard_90188.png">Dashboard</h5>
    <h5 class="font-weight-normal">Menu</h5>
    <ul><img src="https://icon-icons.com/icons2/38/PNG/32/student_4872.png" style="width: 19px;"><a href="#">Cursos</a></ul>
    <ul><img src="https://icon-icons.com/icons2/933/PNG/32/history-clock-button_icon-icons.com_72701.png" style="width: 15px;"><a href="#">Histórico</a></ul>
    <ul><img src="https://icon-icons.com/icons2/875/PNG/32/three-persons_icon-icons.com_68114.png"style="width: 15px;"><a href="#">Alunos</a></ul>
    <ul><img src="https://icon-icons.com/icons2/38/PNG/32/fullconfiguration_settings_4501.png" style="width: 15px;"><a href="#">Config.</a></ul>
  </div>
  <div class="ranking">
    <h5 class="text-primary"><a href="#"><img src="https://icon-icons.com/icons2/259/PNG/48/ic_arrow_back_128_28226.png"></a>Ranking</h5>
    <h4 class="text-right">Questionário: Estruturas de dados em Java</h4>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Posicao</th>
          <th scope="col">Nome</th>
          <th scope="col">Acertos</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>12</td>
          <td>10/05/2019</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>João</td>
          <td>5</td>
          <td>02/05/2019</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry the Bird</td>
          <td>8</td>
          <td>10/05/2019</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Tiringa</td>
          <td>11</td>
          <td>10/05/2019</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Lopim</td>
          <td>12</td>
          <td>10/05/2019</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Charles</td>
          <td>15</td>
          <td>10/05/2019</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
