.mb-3{
    width: 50%;
    margin-top: 5pc;
    margin-left: auto;
    margin-right: auto;
}
.table{
    background-color: white;
    width: 90%;
    border-radius: 10px;
}
.btn-light{
    color:#4633FF !important;
    background-color: #F1F5FB !important;
}