<style>
  .ranking {
    padding: 30px;
  }

  .text {
    color: #4633FF !important;
  }

  tbody {
    display: block;
    height: 260px;
    overflow: auto;
    border-left: solid 2px #f1f1f1;
  }

  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  h4 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center
  }
  #gold{
    background-color: lightgoldenrodyellow;
  }
  #brown{
    background-color: #f1e4ff;
  }
  #silver{
    background-color: #ffeded;
  }

  #ouro {
    color: yellow;
  }

  #text-back-page {
    margin: 15px;
  }

  #prata {
    color: thistle;
  }

  .header-create {
    display: flex;
    align-items: center;
    color: #4633ff;
  }

  #bronze {
    color: brown;
  }

  .text {
    font-size: x-large;
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: space-between;
  }

  .table {
    overflow: scroll;
    font-size: 0.77rem;
  }
</style>


<div class="flex flex-container">
  <div class="box-container-fix">
    <div class="ranking">
      <div id="titles">
        <div class="header-create">
          <a class="btn btn-back" href="javascript:history.back()"><span class="fa fa-arrow-left" aria-hidden="true"></span></a>
          <h5 id="text-back-page"> Ranking</h5>

        </div>

        <h4><span class="text-muted">Questionário</span> : Estruturas de dados em Java</h4>
      </div>
      <div class="list-container">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Posição</th>
              <th scope="col">Nome</th>
              <th scope="col">Acertos</th>
              <th scope="col">Data</th>
            </tr>
          </thead>

          <tbody class="scrollbar" id="style-1">

            <tr id="gold">
              <th scope="row">1</th>
              <td>Mark&nbsp;<i class="fa fa-trophy" aria-hidden="true" id="ouro"></i></td>
              <td>15</td>
              <td>10 Out 2019</td>
            </tr>
            <tr id="brown">
              <th scope="row">2</th>
              <td>João&nbsp;<i class="fa fa-trophy" id="prata"></i></td>
              <td>12</td>
              <td>10 Out 2019</td>
            </tr>
            <tr id="silver">
              <th scope="row">3</th>
              <td>Larry the Bird&nbsp;
                <a class="bronze"><i class="fa fa-trophy" id="bronze"></i></a></td>
              <td>8</td>
              <td>10 Out 2019</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Tiringa</td>
              <td>8</td>
              <td>10 Out 2019</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Lopim</td>
              <td>7</td>
              <td>10 Out 2019</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Charles</td>
              <td>6</td>
              <td>10 Out 2019</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Charles</td>
              <td>6</td>
              <td>10 Out 2019</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Charles</td>
              <td>6</td>
              <td>10 Out 2019</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Charles</td>
              <td>6</td>
              <td>10 Out 2019</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Charles</td>
              <td>6</td>
              <td>10 Out 2019</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Charles</td>
              <td>6</td>
              <td>10 Out 2019</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Charles</td>
              <td>6</td>
              <td>10 Out 2019</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Charles</td>
              <td>6</td>
              <td>10 Out 2019</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Charles</td>
              <td>6</td>
              <td>10 Out 2019</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Charles</td>
              <td>6</td>
              <td>10 Out 2019</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Charles</td>
              <td>6</td>
              <td>10 Out 2019</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Charles</td>
              <td>6</td>
              <td>10 Out 2019</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Charles</td>
              <td>6</td>
              <td>10 Out 2019</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Charles</td>
              <td>6</td>
              <td>10 Out 2019</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>