<style>
  .flex {
    width: 100%;
    position: absolute;
    justify-content: center;
  }

  .flex-container {
    margin-top: 3rem;
  }

  .box-container-fix {
    width: 90%;
    border-radius: 70px;
  }

  .nav-header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
  }

  #logo-container {
    width: 230px;
    align-items: center;
    height: 100px;
    justify-content: center;
    display: flex;
  }

  .list-menu {
    width: 38rem;
  }

  #menu {
    display: inline-flex;
  }

  li {
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    list-style-type: none;
    font-weight: bold;
  }

  main {
    width: 100%;
    height: calc(84% - 5rem);
    display: flex;
    justify-content: space-between;
  }

  .box-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6rem;

  }

  .img-box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5rem;
  }

  .img-box img {
    width: 100%;
  }

  h1 {
    font-weight: bold;
    color: #4633ff;
  }

  #sub-text {
    letter-spacing: 0.14rem;
    font-size: 1.08rem;
  }

  #button-bootstrap {
    margin-top: 1rem;
    width: 13rem;
  }

  @media screen and (min-width : 1440px) {
    h1 {
      font-size: 3.8rem;
    }

    #sub-text {
      padding-right: 12rem;
    }

    .img-box {
      margin-right: 5rem;
    }

    .box-info {
      padding-left: 8rem;
    }
  }


  .divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
  }

  .divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
  }

  .btn-facebook {
    background-color: #405D9D;
    color: #fff;
  }

  .btn-twitter {
    background-color: #42AEEC;
    color: #fff;
  }

  .card {
    border: unset;
  }

  .card-body {
    width: 80%;
  }

  #btn-login {
    color: #4633ff;
    cursor: pointer;
  }

  #img-login-top img{
    width: 100%;
    height: max-content;
    transform: scale(1.9);
  }
</style>

<div class="flex flex-container">
  <div class="box-container-fix">

    <div class="nav-header">
      <div id="logo-container">
        <img src="./assets/logo.svg" alt="logo" *ngIf="!login_flag && !sigup_flag">
      </div>
      <div class="list-menu">
        <ul id="menu">
          <li>Cursos</li>
          <li>Contato</li>
          <li>Planos</li>
          <li id="btn-login" (click)="login_flag = true">Login</li>
        </ul>
      </div>
    </div>

    <main>
      <div class="box-info">
        <div *ngIf="sigup_flag && !login_flag">
          <div class="card">
            <article class="card-body mx-auto">
              <p>
                <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
                <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via
                  facebook</a>
              </p>
              <p class="divider-text">
                <span class="bg-light">OU</span>
              </p>
              <form>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                  </div>
                  <input name="" class="form-control" placeholder="Nome Completo" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                  </div>
                  <input name="" class="form-control" placeholder="Email" type="email">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                  </div>
                  <select class="custom-select" style="max-width: 120px;">
                    <option selected="">+83</option>
                    <option value="1">+85</option>
                    <option value="2">+21</option>
                    <option value="3">+30</option>
                  </select>
                  <input name="" class="form-control" placeholder="Telefone" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                  </div>
                  <select class="form-control">
                    <option selected=""> Seleciona o tipo</option>
                    <option>Estudante</option>
                    <option>Professor</option>
                    <option>Profissional Setor Privado</option>
                  </select>
                </div> <!-- form-group end.// -->
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Senha" type="password">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Repetir Senha" type="password">
                </div> <!-- form-group// -->
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Criar Conta </button>
                </div> <!-- form-group// -->
                <p class="text-center">Já Possui Conta? <a href="" (click)="login_flag = true">Log In</a> </p>
              </form>
            </article>
          </div> <!-- card.// -->

        </div>
        <div *ngIf="!sigup_flag && !login_flag">
          <h1>Torne o aprendizado
            incrível!</h1>
          <p id="sub-text">
            Askizz! traz engajamento e diversão
            para mais de 1 bilhão de jogadores
            todos os anos em escolas e empresas.
          </p>
          <button class="btn btn-primary" id="button-bootstrap" (click)="sigup_flag = true">Começar</button>
        </div>

        <div *ngIf="login_flag">
          <div id="img-login-top">
            <img src="./assets/logo.svg" alt="logo">
          </div>
          <div class="card">
            <article class="card-body mx-auto">
              <form>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                  </div>
                  <input name="" class="form-control" placeholder="Email" type="email">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Senha" type="password">
                </div> <!-- form-group// -->
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block" (click)="login()"> Login </button>
                </div> <!-- form-group// -->
                <p class="text-center">Esqueceu a senha? <a href="">Clique aqui!</a> </p>
              </form>
            </article>
          </div>
        </div>
      </div>


      <div class="img-box">
        <img src="./assets/woman-home.svg" alt="girl">
      </div>
    </main>


  </div>
</div>