<<<<<<< HEAD
.mb-3{
    width: 50%;
    margin-top: 5pc;
    margin-left: auto;
    margin-right: auto;
}
.table-bordered{
    background-color: white;
    width: 90%;
}
=======
.mb-3{
    width: 50%;
    margin-top: 5pc;
    margin-left: auto;
    margin-right: auto;
}
.table-bordered{
    background-color: white;
    width: 90%;
}
>>>>>>> 185a6264f9fc67098a0495ef01816bb69295c283
