/* You can add global styles to this file, and also import other style files */
body{
    background-color: #F3F5F9 !important;
    font-family: 'Nunito', sans-serif;
    font-size: 0.95rem !important;
}

.flex{
    display: flex;
    position: relative;
}

.flex-container {
    display: flex;
    margin-top: 2rem;
}

.box-container-fix {
    display: flex;
    width: 75%;
    height: 100%;
    flex-direction: column;
    position: fixed;
    background-color: #ffffff;
    border-radius: 20px;
}
.bg-warning {
    background-color: #33e3ff!important;
}
.bg-success {
    background-color: #33ff7b!important;
}

.progress-bar {
    background-color : #4633FF;
}

.btn-size-md{
    width: 100px;
    margin-left: 5px;
}

.btn-primary{
    background-color : #4633FF !important;
    border: none;
}
.btn-info{
    background-color : #F1F5FB !important;
    color: #4633FF;
    border: none;
}
.btn-info:hover{
    color: #4633FF;
    border: solid 1px #bbb3ff;
    
}

.app-background-color{
    background-color : #4633FF !important;
}

.app-font-color{
    color : #4633FF !important;
}
thead {
    border-bottom: solid 2px #f1f5fb;
}
.btn-back {
    font-size: 2rem;
    color: #4633ff;
}
a{
    color: #A8B3C1;
}
a:hover{
    color : #4633FF !important;
    text-decoration: none;
}

.active{
    color : #4633FF !important;
}

.material-switch>input[type="checkbox"] {
    display: none;
}

.material-switch>label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch>label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch>label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch>input[type="checkbox"]:checked+label::before {
    background: #4633ff;
    opacity: 1;
    box-shadow: unset;
}

.material-switch>input[type="checkbox"]:checked+label::after {
    left: 20px;
}
.modal-footer{
    border-top: unset;
}
.modal-header{
    border-bottom: unset;
}

.modal-content{
    padding: 25px;
}

.gold{
    background-color: #ffdea5;
}
.silver{
    background-color: #cddbec;
}
.brown{
    background-color: #ffe0e2;
}

